<div class="row">
  <div class="large-12 columns">
    <h1>Tweets</h1>
    <table>
      <thead>
      <tr>
        <th>Tweet at</th>
        <th>Screen Name</th>
        <th>Tweet</th>
        <th>Image</th>
      </tr>
      </thead>

      <tbody>
      <% @posted_tweets.each do |pt| %>
          <tr>
            <td><%= pt.tweet_at %></td>
            <td><%= pt.screen_name %></td>
            <td><%= pt.tweet %></td>
            <td><%= image_tag pt.image_url, :size => "40x40" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

